@import "~@angular/material/theming";
@include mat-core();

.month-grid {
  display: grid;
  grid-template-columns: 5rem 1fr 5rem;
  padding: 1rem;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
.days-grid,
.callendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
    grid-gap: 3px;
    padding: 1%;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.nameplates-grid {
  text-align: center;
  margin-top: 1rem;
}

.day {
  display: block;
  padding: 0.3rem;
  transition: 0.45s all ease;
  cursor: pointer;
  width: 10px;
}

.buttons{
  float: right;
  margin-right: 3%;
}

.button{
  margin-top: 2%;
  padding: 1% 1%;
  margin-left: 5px;
  margin-right: 5px;
}
