<app-navigation></app-navigation>

<mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event)" placeholder="{{'GENERAL.FIND_EMPLOYEE' | translate}}">
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position -->
        <ng-container matColumnDef="lp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMPLOYEE_PAGE.TABLE.LP' | translate}} </th>
            <td mat-cell *matCellDef="let row; let i = index" (click)="employeDetails(row.id)"> {{i + 1}} </td>
        </ng-container>

        <!-- Name -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMPLOYEE_PAGE.TABLE.NAME' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="employeDetails(row.id)"> {{row.name}} </td>
        </ng-container>

        <!-- Last name -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMPLOYEE_PAGE.TABLE.LAST_NAME' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="employeDetails(row.id)"> {{row.lastName}} </td>
        </ng-container>

        <!-- Position -->
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMPLOYEE_PAGE.TABLE.POSITION' | translate}}</th>
            <td mat-cell *matCellDef="let row" (click)="employeDetails(row.id)"> {{row.position}} </td>
        </ng-container>

        <!-- regularPost Column -->
        <ng-container matColumnDef="regularPost">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'EMPLOYEE_PAGE.TABLE.REGULAR_POST' | translate}}
            </th>
            <td mat-cell *matCellDef="let row" (click)="employeDetails(row.id)"> {{row.regularPost}}
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="action">
                <button mat-icon-button>
                    <mat-icon (click)="addEmployee()">add</mat-icon>
                </button>
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button>
                    <mat-icon (click)="openCalendar(row.id)">calendar_today</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon (click)="generateExcel(row)">cloud_download</mat-icon>
                </button>

                <button mat-icon-button color="warn">
                    <mat-icon (click)="deleteEmployee(row.id)">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
    </table>

</div>