table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 20%;
  }

  td, th {
    width: 25%;
  }

.search {
  margin-left: 40%;
  margin-top: 2%;
}

.mat-elevation-z8 {
  width: 90%;
  margin-left: 5%;
}

 .buttonCalendar{
    background-color: #D55700;
    color: white;
  }

  .buttonRemove{
    background-color: red;
    color: white;
    margin-left: 15%;
  }

  .buttonAdd{
    margin-left: 5%;
    margin-right: 5%;
  }

  .buttonGenerate{
    margin-left: 5%;
    background-color: #1F7700;
    color: white;
  }

  .col6{
    align-items: center;
  }
