<div fxLayoutAlign="center center">
    <span>{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.TITLE' | translate}}</span>
</div>
<br>
<form [formGroup]="employeeForm" fxLayout="column">
    <mat-dialog-content >

        <!-- Name -->
        <div fxLayout = "row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="80" fxFlexOffset="5">
            <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.NAME' | translate}}" formControlName="name" />
        </mat-form-field>
        </div>

        <!-- LastName -->
        <div fxLayout = "row" fxLayoutAlign="center center">
            <mat-form-field fxFlex="80" fxFlexOffset="5">
                <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.LAST_NAME' | translate}}" formControlName="lastName" />
            </mat-form-field>
            </div>

        <!-- Regular Post -->
        <div fxLayout = "row" fxLayoutAlign="center center">
            <mat-form-field fxFlex="80" fxFlexOffset="5">
                <mat-label>{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.REGULAR_POST' | translate}}</mat-label>
                <mat-select formControlName="regularPost">
                  <mat-option *ngFor="let reg of regularPost" [value]="reg">
                    {{reg}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>

        <!-- Count of Vacation -->
        <div fxLayout = "row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="80" fxFlexOffset="5">
            <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.COUNT_OF_VACATION' | translate}}" formControlName="countOfVacation" type = "number" min="0"/>
        </mat-form-field>
        </div>

        <!-- Count Of children care -->
        <div fxLayout = "row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="80" fxFlexOffset="5">
            <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.COUNT_OF_CHILDREN_CARE' | translate}}" formControlName="countOfChildrenCare" type = "number" min="0"/>
        </mat-form-field>
        </div>

        <!-- Position -->
        <div fxLayout = "row" fxLayoutAlign="center center">
        <mat-form-field fxFlex="80" fxFlexOffset="5">
            <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.POSITION' | translate}}" formControlName="position" />
        </mat-form-field>
        </div>
    </mat-dialog-content>
</form>

<mat-dialog-actions fxLayoutAlign="center center">
    <button mat-raised-button (click)="closeDialog()">{{'GENERAL.CANCEL' | translate}}</button>
    <button mat-raised-button color="warn" [disabled]="employeeForm.invalid"(click)="submitEmployee()">{{'GENERAL.ADD' | translate}}</button>
</mat-dialog-actions>
