<div fxLayoutAlign="center center">
    <span>{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.TITLE' | translate}}</span>
</div>
<br>
<form [formGroup]="inputForm" fxLayout="column">
    <mat-dialog-content >

        <!-- Name -->
        <div fxLayout = "row" fxLayoutAlign="center center"> 
        <mat-form-field fxFlex="80" fxFlexOffset="5">
            <input matInput placeholder="{{'EMPLOYEE_PAGE.ADD_EMPLOYEE.NAME' | translate}}" formControlName="nameAndSurname" />
        </mat-form-field>
        </div>
    </mat-dialog-content>
</form>


<mat-dialog-actions fxLayoutAlign="center center">
    <button mat-raised-button (click)="closeDialog()">{{'GENERAL.CANCEL' | translate}}</button>
    <button mat-raised-button color="warn" (click)="submitDialog()">{{'GENERAL.ADD' | translate}}</button>
</mat-dialog-actions>